yarn run v1.22.19
$ C:\ProyectoXileno\typescript-node-server\node_modules\.bin\prisma migrate diff --from-schema-datamodel prisma/schema.prisma --to-schema-datasource prisma/schema.prisma --script
-- AlterTable
ALTER TABLE "users" DROP COLUMN "fullName";

Done in 2.73s.
